@-webkit-keyframes logo_wiggle{
    from{
      width: 10%;
    }
    to{
      width: 5%;
    }
}
  
@keyframes logo_wiggle{
    from{
      width: 10%;
    }
    to{
      width: 5%;
    }
} 
  
#logo{
    margin-top: 10px;
    display: block;
    width: 5%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    -webkit-animation-name: logo_wiggle;
            animation-name: logo_wiggle;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
}

.container{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto auto auto;
  grid-column-gap: 5px;
  grid-row-gap: 15px;
  width: 100%;
  padding: 2% 2%;
  box-sizing: border-box;
  height: 100vh;
  margin-bottom: 50pt;
}


.education{
  grid-column-start: 0;
  grid-column-start: 1;
}

.skill{
  grid-column-start: 1;
  grid-column-start: 2;
}

.interest{
  grid-column-start: 2;
  grid-column-start: 3;
}

.education h1, .skill h1, .interest h1{
  font-size: 24pt;
  font-family: Alegreya, Arial, Helvetica;
  padding: 10px;
  text-align: center;
  justify-content: center;
}

h1 a{
  color: #788;
  text-decoration: none;
}

h1 a:hover{
  color: #F7A55D;
  text-decoration: none;
}


.item {
  position: relative;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.item a {
  color: #333;
}

.item a:hover {
  text-decoration: none;
}
.item img {
  width: 100%;
  height: auto;
}

.item.square {
  position: relative;
  margin: auto;
  width: 80%;
  height: auto;
  border: 5px solid rgba(171, 198, 207, 0.5);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

.item.square .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.item.square.effect {
  overflow: hidden;
  -webkit-perspective: 900px;
  -moz-perspective: 900px;
  perspective: 900px;
}

.item.square.effect.colored .info {
  background: #1a4a72;
}

.item.square.effect .img {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.item.square.effect .info {
  opacity: 0;
  -webkit-transition: all 0.35s ease-in-out 0.3s;
  -moz-transition: all 0.35s ease-in-out 0.3s;
  transition: all 0.35s ease-in-out 0.3s;
}

.education .item.square.effect .info{
  background: #165539;
}

.skill .item.square.effect .info {
  background: #184D5C;
}

.interest .item.square.effect .info {
  background: #46185C;
}


.item.square.effect .info h2 {
  font-family: Alegreya;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 17px;
  padding: 7px;
  background: #111111;
  margin: 7.5% 0 0 0;
}

.item.square.effect .info p {
  font-family: Lato;
  font-size: 14px;
  position: relative;
  color: #fff;
  padding: 10px 10px 10px;
  text-align: left;
}

.item.square.effect a:hover .img {
  opacity: 0;
  visibility: hidden;
}
.item.square.effect a:hover .info {
  visibility: visible;
  opacity: 1;
}

.item.square.effect.animation .img {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
.item.square.effect.animation .info {
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}
.item.square.effect.animation a:hover .img {
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  -o-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}
.item.square.effect.animation a:hover .info {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
}

