@-webkit-keyframes logo_wiggle{
    from{
      width: 10%;
    }
    to{
      width: 5%;
    }
}
  
@keyframes logo_wiggle{
    from{
      width: 10%;
    }
    to{
      width: 5%;
    }
} 
  
#logo{
    margin-top: 10px;
    display: block;
    width: 5%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    -webkit-animation-name: logo_wiggle;
            animation-name: logo_wiggle;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
}

.container{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  grid-column-gap: 5px;
  grid-row-gap: 15px;
  width: 100%;
  padding: 2% 2%;
  box-sizing: border-box;
  height: 100vh;
  margin-bottom: 50pt;
}


.education{
  grid-column-start: 0;
  grid-column-start: 1;
}

.skill{
  grid-column-start: 1;
  grid-column-start: 2;
}

.interest{
  grid-column-start: 2;
  grid-column-start: 3;
}

.education h2, .skill h2, .interest h2{
  font-size: 24pt;
  font-family: Alegreya, Arial, Helvetica;
  padding: 10px;
  text-align: center;
  justify-content: center;
}

h2 a{
  color: #788;
  text-decoration: none;
}

h2 a:hover{
  color: #F7A55D;
  text-decoration: none;
}

/* .education-image #UM-image{
  margin: 10px auto 20px;
  display: block;
  width: 5cm;
  padding: 5pt;
  border:1px solid #fff;
  box-shadow: 5px 5px 2px #ccc;
  -moz-box-shadow: 5px 5px 2px #ccc;
  -webkit-box-shadow: 5px 5px 2px #ccc;
  -khtml-box-shadow: 5px 5px 2px #ccc;

}

.education-image #SJTU-image{
  margin: 10px auto 20px;
  display: block;
  width: 5cm;
  padding: 5pt;
  align-items: center;
  border-top-left-radius: 75% 75%;
  border-top-right-radius: 75% 75%;
  border-bottom-right-radius: 75% 75%;
  border-bottom-left-radius: 75% 75%;
} */




