/* The following card effects is refered from https://codepen.io/highplainsdrifter/pen/qNZMLE with adjustment here*/

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 50px;
}

h1{
    font-size: 18px;
    font-family: Lato;
    color: #060926;
    justify-content: center;
    margin: 30px;
}

.currentcourses{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 10px;
}

  
.info {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
    grid-column-gap: 5px;
    width: 80%;
    min-height: 140px;
    background: rgba(171, 198, 207, 0.5);
    border-radius: 8px;
    overflow: hidden;
    justify-self: center;
    box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.1), 3px 6px 10px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.block {
    grid-column: 0/1;
    width: 90%;
    height: 90%;
    justify-self: center;
    align-self: center;

}

.block h2{
    font-size: 20px;
    display: block;
    background-color: #000;
    color: #fff;
    margin-bottom: 20%;
}

.block p{
    background-color: #fff;
    color: #000;
}

.block img{
    display: flex;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.1), 3px 6px 10px 5px rgba(0, 0, 0, 0.1);
}

.texts {
    grid-column: 2/-1;
    width:90%;
    position: relative;
    padding-top: 10px;
}

.texts h2 {
  font-family: Dosis;
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom: 2px solid #c0c1c3;
}


.one-text a{
    color: #f46320;
    text-decoration: none;
}

.courseone{
    background-color: #f46320;
}

.one-text a:focus{
    color: #788;
    text-decoration: none;
}


.two-text a{
    color: #1F742E;
    text-decoration: none;
}

.coursetwo{
    background-color: #1F742E;
}

.two-text a:focus{
    color: #788;
    text-decoration: none;
}

.three-text a{
    color: #1C6D94;
    text-decoration: none;
}

.coursethree{
    background-color: #1C6D94;
}

.three-text a:focus{
    color: #788;
    text-decoration: none;
}

.four-text a{
    color: #721C94;
    text-decoration: none;
}

.coursefour{
    background-color: #721C94;
}

.four-text a:focus{
    color: #788;
    text-decoration: none;
}

.five-text a{
    color: #A4AA14;
    text-decoration: none;
}

.coursefive{
    background-color: #A4AA14;
}

.five-text a:focus{
    color: #788;
    text-decoration: none;
}

.six-text a{
    color: #E330DB;
    text-decoration: none;
}

.six-text a:focus{
    color: #788;
    text-decoration: none;
}

.seven-text a{
    color: #3E124F;
    text-decoration: none;
}

.seven-text a:focus{
    color: #788;
    text-decoration: none;
}

.eight-text a{
    color: #30E375;
    text-decoration: none;
}

.eight-text a:focus{
    color: #788;
    text-decoration: none;
}

.nine-text a{
    color: #30C9E3;
    text-decoration: none;
}

.nine-text a:focus{
    color: #788;
    text-decoration: none;
}

.ten-text a{
    color: #E33B30;
    text-decoration: none;
}

.ten-text a:focus{
    color: #788;
    text-decoration: none;
}


.texts p {
    padding-top: 5px;
    font-family: Lato;
    font-weight: 500;
    font-size: 13px;
    position: absolute;
    text-align: justify;
    color: black;
}

.flip-card {
    background-color: transparent;
    perspective: 1000px;
    display: flex;
    width: 100%;
    height: 100%;
    border: 2px solid  #EDEEF9;
    box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.1), 3px 6px 10px 5px rgba(0, 0, 0, 0.1);
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card:focus .flip-card-inner {
    transform: rotateY(180deg);
  }

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}
  
.flip-card-front {
    background-color: #bbb;
    color: black;
}
  
.flip-card-back {
    transform: rotateY(180deg);
    
}

/* Tablet and Mobile view */
@media (max-width: 950px) {
    .currentcourses{
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        padding: 10px;
    }
}

/* Tiny view */
@media (max-width: 500px) {
    .block h2{
        font-size: 16px;
    }
    
    .block p{
        font-size: 12px;
    }
    .texts h2{
        font-size: 16px;
    }
    .texts p{
        font-size: 12px;
    }
}


