
.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 50px;
}


#graduate{
    padding: 50px;
    background-color: #EDEEF9;
    text-align: left;
    position: relative;
    height: 100%;
}

#undergraduate{
    padding: 50px;
    background-color: #DBDDF1;
    text-align: left;
    position: relative;
    height: 100%;
}

.text{
    display:inline-block;;
    white-space:nowrap;
}

#graduate p, #undergraduate p{
    font-size: 18px;
    margin-top: 1em;
    font-family: Lato;
    color: #000;
}

#graduate h1, #undergraduate h1{
    font-size: 28px;
    font-family: Lato;
    color: #000;
}

#graduate h2, #undergraduate h2{
    font-size: 20px;
    font-family: Lato;
    font-style: italic;
    color: #3A393A;
    margin-top: 5px;
}


#graduate img{
    width: 10%;
    float: right;
}

#undergraduate img{
    width: 10%;
    float: right;
}

img:hover{
    opacity: .5;
}

/* Mobile view */
@media (max-width: 800px) {
    #graduate p, #undergraduate p{
        font-size: auto;
    }
    
    #graduate h1, #undergraduate h1{
        font-size: auto;
    }
    
    #graduate h2, #undergraduate h2{
        font-size: auto;
    }
}