/* Reduce animation */
@media screen and (prefers-reduced-motion: reduce){
    #flip, #flip1, #flip2{
        -webkit-animation: none;
                animation: none;
    }
}

@media (min-width: 750px) and (max-width: 950px) {

    
}

@media (max-width: 750px) {
    
    
}

.container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 70% 30%;
    grid-row-gap: 15px;
    min-height: 100%;
}

.greeting{
    font-family: Dosis, Arial, Helvetica;
    text-shadow: 5px 5px aliceblue;
    -webkit-text-stroke-width: 1px; 
    grid-column: 1/-1;
    text-align: center;
    padding-top: 2%;
    margin: auto;
    font-size: 24pt;
    color: black;
}

.greeting h1{
    text-shadow: 10px 10px aliceblue;
    -webkit-text-stroke-width: 1px; 
    text-align: center;
    padding-top: 10px;
    margin: auto;
    font-size: 48px;
    color: black;
}


.self {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-family: 'Didact Gothic';
    color:#999;
    text-transform: uppercase;
    font-size:36px;
    font-weight:bold;
    bottom:15%;  
    position:fixed;
    width:100%;    
}
  
#flip, #flip1, #flip2 {
    font-size: 32px;
    height:45px;
    overflow:hidden;
    align-items: center;
    justify-content: center;
}

#flip {
    grid-column: 0/1;
}
#flip1 {
    grid-column: 1/2;
}
#flip2 {
    grid-column: 2/3;
}

#flip > div > p, #flip1 > div > p, #flip2 > div > p {
    display:inline-block;
    color:#263B42;
    padding: 0 10px 0 10px;
    height:45px;
    margin-bottom:45px;
    border-radius: 10px;
}


#flip div:first-child {
    animation: show 6s linear infinite;
}

#flip1 div:first-child {
    animation: show 8s linear infinite;
}

#flip2 div:first-child {
    animation: show 10s linear infinite;
}

#flip div p {
    background:#add356;
}
#flip div:first-child p {
    background:#ffcb52;
}
#flip div:last-child p {
    background:#3dade9;
}

#flip1 div p {
    background:#3dade9;
}
#flip1 div:first-child p {
    background:#add356;
}
#flip1 div:last-child p {
    background:#ffcb52;
}

#flip2 div p {
    background:#ffcb52;
}
#flip2 div:first-child p {
    background:#3dade9;
}
#flip2 div:last-child p {
    background:#add356;
}
  
@keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
}
