.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 50px;
}

h1{
    font-size: 28px;
    font-family: Lato;
    color: #060926;
    text-align: center;
    margin: 20px;
}


.container p{
    padding-left: 20%;
    padding-right: 20%;
    font-size: 18px;
    font-family: Alegreya;
    color: #060926;
    justify-content: center;
    margin: auto 0;
}

.texts p{
    padding: 10%;
    border: 2px solid #000;
    -webkit-border-radius: 0% 0% 100% 100% / 0% 0% 8px 8px;
            border-radius: 0% 0% 100% 100% / 0% 0% 8px 8px;
    -webkit-box-shadow: rgba(0, 0, 0,.30) 0 2px 3px;
            box-shadow: rgba(0, 0, 0,.30) 0 2px 3px;
}



h2{
    font-size: 20px;
    font-family: Lato;
    color: #060926;
    text-align: center;
    margin: 20px;
}

.campus{
    display: grid;
    grid-template-columns: 30% 68%;
    grid-column-gap: 10px;
    margin: 40px 0px 20px 20px;
}

.campus .texts{
    justify-self: center;
    align-items: center;
    padding-left: 20%;
}

.campus .texts > p{
    padding-left: 10%;
    padding-right: 10%;
}

.campus_gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 300px;
}

.campus_gallery > img{
    border: 3px rgba(171, 198, 207, 0.5) solid;
    margin: 10px;
    width: 25%;
}

.campus_gallery > img:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.leisure{
    display: grid;
    grid-template-columns: 30% 68%;
    grid-column-gap: 10px;
    margin: 40px 0px 20px 20px;
}

.leisure .texts{
    justify-self: center;
    align-items: center;
    padding-left: 20%;
}

.leisure .texts > p{
    padding-left: 10%;
    padding-right: 10%;
}

.leisure_gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    min-height: 300px;
}

.leisure_gallery > img{
    border: 3px rgba(171, 198, 207, 0.5) solid;
    margin: 10px;
    width: 40%;
}

.leisure_gallery > img:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.cooking{
    display: grid;
    grid-template-columns: 30% 68%;
    grid-column-gap: 10px;
    margin: 40px 0px 20px 20px;
}

.cooking .texts{
    justify-self: center;
    align-items: center;
    padding-left: 20%;
}

.cooking .texts > p{
    padding-left: 10%;
    padding-right: 10%;
}

.cooking_gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 300px;
}

.cooking_gallery > img{
    border: 3px rgba(171, 198, 207, 0.5) solid;
    margin: 10px;
    width: 33%;
    -webkit-filter: grayscale(60%);
	filter: grayscale(60%);
	transition: 1s;
}

.cooking_gallery > img:hover{
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	filter: none;
}

.football{
    display: grid;
    grid-template-columns: 30% 68%;
    grid-column-gap: 10px;
    margin: 40px 0px 20px 20px;
}

.football .texts{
    justify-self: center;
    align-items: center;
    padding-left: 20%;
}

.football .texts > p{
    padding-left: 10%;
    padding-right: 10%;
}

.football_gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 300px;
}

.football_gallery > img{
    border: 3px rgba(171, 198, 207, 0.5) solid;
    margin: 10px;
    width: 33%;
}

.football_gallery > img:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.southeast{
    display: grid;
    grid-template-columns: 30% 68%;
    grid-column-gap: 10px;
    margin: 40px 0px 20px 20px;
}

.southeast .texts{
    justify-self: center;
    align-items: center;
    padding-left: 20%;
}

.southeast .texts > p{
    padding-left: 10%;
    padding-right: 10%;
}

.southeast_gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 300px;
}

.southeast_gallery > img{
    border: 3px rgba(171, 198, 207, 0.5) solid;
    margin: 10px;
    width: 25%;
    -webkit-filter: sepia(60%);
    filter: sepia(60%);
    transition: 1s;
}

.southeast_gallery > img:hover{
	-webkit-filter: sepia(0);
	filter: sepia(0);
	filter: none;
}

.nba{
    display: grid;
    grid-template-columns: 30% 68%;
    grid-column-gap: 10px;
    margin: 40px 0px 20px 20px;
}

.nba .texts{
    justify-self: center;
    align-items: center;
    padding-left: 20%;
}

.nba .texts > p{
    padding-left: 10%;
    padding-right: 10%;
}

.nba_gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    min-height: 300px;
}

.nba_gallery > img{
    border: 3px rgba(171, 198, 207, 0.5) solid;
    margin: 10px;
    width: 25%;
    -webkit-filter: brightness(0.6);
    filter: brightness(0.6);
    transition: 1s;
}

.nba_gallery > img:hover{
    -webkit-filter: brightness(1);
    filter: brightness(1);
    filter: none;
}


/* Tablet view */
@media (min-width: 800px) and (max-width: 950px) {
    .texts p{
        font-size: 15px;
    }
    .campus_gallery> img{
        width: 40%;
    }
    .cooking_gallery > img{
        width: 35%;
    }
    .leisure_gallery > img{
        width: 40%;
    }
    .southeast_gallery > img{
        width: 40%;
    }
    .football_gallery > img{
        width: 35%;
    }
    .nba_gallery > img{
        width: 40%;
    }
}


/* Mobile view */
@media (max-width: 800px) {
    .texts p{
        font-size: 12px;
    }
    .campus_gallery> img{
        width: 80%
    }
    .cooking_gallery > img{
        width: 80%;
    }
    .leisure_gallery > img{
        width: 80%;
    }
    .southeast_gallery > img{
        width: 80%;
    }
    .football_gallery > img{
        width: 80%;
    }
    .nba_gallery > img{
        width: 80%;
    }
}