@-webkit-keyframes logo_wiggle{
    from{
      width: 10%;
    }
    to{
      width: 5%;
    }
}
  
@keyframes logo_wiggle{
    from{
      width: 10%;
    }
    to{
      width: 5%;
    }
} 
  
#logo{
    margin-top: 10px;
    display: block;
    width: 5%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    -webkit-animation-name: logo_wiggle;
            animation-name: logo_wiggle;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
}

.container{
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  padding-bottom: 50px;
}


.text{
  display: grid;
  font-family: Alegreya;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

h1{
  font-size: 24px;
  font-family: Lato;
  color: #060926;
  justify-content: center;
  margin-bottom: 20px;
}

#language{
  padding: 30px;
  background-color: #EDEEF9;
  position: relative;
  height: 100%;
}

#language .text{
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  text-align: center;
}

#Programming{
  padding: 30px;
  background-color: #DBDDF1;
  position: relative;
  height: 100%;
}

#Programming .text{
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 15px;
  grid-column-gap: 10px;
  text-align: center;
}

/* .text{
  display: flex;
  text-align: center;
  list-style: none;
  justify-content: space-around;
  position:relative;
  font-family: Alegreya;
  font-size: 24px;
  color: black;
} */

#DSskills{
  padding: 30px;
  background-color: #EDEEF9;
  position: relative;
  height: 100%;
}

#DSskills .text{
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 20px;
  grid-column-gap: 10px;
}




