@-webkit-keyframes logo_wiggle{
    from{
      width: 10%;
    }
    to{
      width: 5%;
    }
}
  
@keyframes logo_wiggle{
    from{
      width: 10%;
    }
    to{
      width: 5%;
    }
} 
  
#logo{
    margin-top: 10px;
    display: block;
    width: 5%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    -webkit-animation-name: logo_wiggle;
            animation-name: logo_wiggle;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
}