@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    color: #F1F2F6;
    font-size: 14pt;
}

a.skip{
    background: white;
    padding: 5px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}
  
a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
}

header{
    display: flex;
    width: 100%;
    flex-direction: column;
    background: rgba(171, 198, 207, 0.5);
    align-items: center;
}


.nav_links{
    display: flex;
    justify-content: space-between;
    justify-self: center;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

.nav_links a{
    border-radius:15px;
    text-decoration:none;
    color: #788;
    text-transform:uppercase;
    z-index:1;
    transition-duration:2s;
}

.nav_links a:hover{
    color: #fff;
    transition-duration:1s;
    background: #05abe0;
    background: -moz-linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
    background: -webkit-linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
    background: linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
} 

.nav_links a:focus{
    border-radius:50px;
    color: #F1F2F6;
    background: #05abe0;
    background: -moz-linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
    background: -webkit-linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
    background: linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
}

/* The footer styling is learned from https://codepen.io/slstudios/pen/mJqjeP */

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: rgba(171, 198, 207, 0.5);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    text-align: left;
    font-family: Lato;
    font-size: 12px;
    padding: 2px 20px 2px 20px;
}

.social {
    float: right;
    max-width: 180px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.social a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
}

.social a:hover{
    transform:scale(1.1);
    -ms-transform:scale(1.1);
    -webkit-transform:scale(1.1);
}

.title p {
    color: #8f9296;
    font-size: 12px;
    margin: 2px;
}

footer p.links {
    font-size: 14px;
    font-weight: bold;
    transition: ease .25s;
}
  
footer p.links a {
    display: inline-block;
    text-decoration: none;
    color: black;
    transition: ease .25s;
}
  
footer .links a:before {
    content: "·";
    font-size: 18px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}
  
footer p.links a:hover{
    text-decoration:underline;
    color: #fff;
}

.fa {
    border-radius: 50%;
}

@-webkit-keyframes logo_wiggle{
    from{
      width: 5%;
    }
    to{
      width: 10%;
    }
}
  
@keyframes logo_wiggle{
    from{
      width: 5%;
    }
    to{
      width: 10%;
    }
} 
  
#logo{
    margin-top: 10px;
    display: block;
    width: 10%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    -webkit-animation-name: logo_wiggle;
            animation-name: logo_wiggle;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
}

/* Reduce animation */
@media screen and (prefers-reduced-motion: reduce){
    #logo{
        -webkit-animation: none;
                animation: none;
    }
}


/* Large view */
@media (min-width: 950px) {
    .nav_links{
        background:#00000b;
        margin: 30px;
        box-shadow:0px 5px 20px rgba(0,0,0,0.1);
        border-radius:50px;
        position:relative;
    }
    .nav_links a{
        padding:10px 50px;
    }
}


/* Tablet view */
@media (min-width: 800px) and (max-width: 950px) {
    .nav_links{
        background:#00000b;
        margin: 30px;
        box-shadow:0px 5px 20px rgba(0,0,0,0.1);
        border-radius:50px;
        position:relative;
    }
    .nav_links a{
        padding:10px 10px;
    }
}


/* Mobile view */
@media (max-width: 800px) {
    .nav_links{
        flex-direction: column;
        margin: 30px;
        box-shadow:0px 5px 20px rgba(0,0,0,0.1);
        position:relative;
    }
    .nav_item{
        padding:10px
    }
    .nav_links a{
        border-radius:5px;
    }
    
}